<launch>

  <arg name="num_sampling" default="1" />
  <arg name="num_sps" default="1" />
  <arg name="show_trajectories" default="true" />
  <arg name="add_collision_objects" default="false" />
  <arg name="planner" default="prm" />

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />

  <arg name="move_group_name" default="arm" />
  <arg name="ik_solver_name" default="ap_planning::IKSolver" />

  <include file="$(find spota_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <include file="$(find spota_moveit_config)/launch/demo.launch" >
    <arg name="use_rviz" value="false"/>
  </include>

  <node name="panda_rviz" pkg ="rviz" type ="rviz" args ="-d $(find vbats)/config/screw_planning.rviz"/>

  <node name="screw_planning_sim" pkg="vbats" type="screw_planning_sim" respawn="false" output="screen" launch-prefix="$(arg launch_prefix)">
    <rosparam command="load" file="$(find spota_moveit_config)/config/kinematics.yaml"/>
    <param name="move_group_name" type="string" value="$(arg move_group_name)" />
    <param name="ik_solver_name" type="string" value="$(arg ik_solver_name)" />
    <param name="num_sampling" type="int" value="$(arg num_sampling)" />
    <param name="num_sps" type="int" value="$(arg num_sps)" />
    <param name="show_trajectories" type="bool" value="$(arg show_trajectories)" />
    <param name="add_collision_objects" type="bool" value="$(arg add_collision_objects)" />
    <param name="planner" type="string" value="$(arg planner)" />
  </node>
</launch>
